.cl1{
    color: green;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif
    font-weight:lighter;
    text-decoration: underline black;

}

#id1{
    text-align: center;


}
.cl2{
    color: green;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif
    font-weight:lighter;

}